body{
    margin: 50px auto 50px auto;
    width: 70%;display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
header{
    text-align: center;
    justify-content: space-between;
    background: url("./Images/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    font-size: 1.3em;
    font-family: sans-serif;
}
.message{
    margin: 10px auto 0 auto;
    font-family: cursive;
    font-size: 1.3em;
    text-align: center;
}
#list>ul{
    justify-content: space-around;
    text-align: flex;
}
ul>li{
    display: inline-block;
}
#one{
    float: left;
    height: 150px;
    width: 200px;
    margin: 0 10px 0 0;
}
.content>p{
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    margin: 0 0 0 0;
    /*box-shadow: 0 0 20px 0px #888888;*/
  }