body{
    margin: 50px auto 50px auto;
    width: 70%;display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
header{
    text-align: center;
    justify-content: space-between;
    background: url("./Images/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    font-size: 1.3em;
    font-family: sans-serif;
}
.message{
    margin: 10px auto 0 auto;
    font-family: cursive;
    font-size: 1.3em;
    text-align: center;
}
#list>{
    text-align: flex;
}
#list>p{
    height: 100px;
    width: 300px;
    padding: 0%;
    margin: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3em;
}
ul>li{
    display: inline-block;
    height: 200px;
    width: 300px;
    color: white;
    font-style: italic;
    font-size: x-large;
    text-align: center;
}
#st{
    background-color: rgb(230, 225, 225);
}
#rj{
    background-color: #F15A29;
}
#br{
    background-image: url("./Images/breakfast.jpg");
    background-size: contain;
    justify-content: center;
}
#lu{
    background-image: url("./Images/lunch.jpg");
    justify-content: center;
    background-size: contain;
    opacity: 0.3;

}
#di{
    background-image: url("./Images/dinner.jpg");
    background-size: contain;
    justify-content: center;
}
#one{
    float: left;
    height: 200px;
    width: 300px;
    margin: 0 10px 0 0;
}
.content>p{
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.content {
    margin: 0 0 0 0;
    /*box-shadow: 0 0 20px 0px #888888;*/
  }