body{
    margin: 50px auto 50px auto;
    width: 80%;display: flex;
    flex-direction: column;
    margin-left: 200px;
    
}
.toggle{
    font-size: 50px;
    cursor: pointer;
    color: #ffff;}
header{
    text-align: center;
    justify-content: space-between;
    background: url("./Images/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    font-size: 1em;
    font-family: sans-serif;
    color: white;
}

.message{
    margin: auto auto 0 auto;
    font-family: cursive;
    font-size: 1.3em;
    text-align: center;
}
.mt{
    display: flex;
    flex-direction: row;
    text-align: center;
    
    
}
.list>ul>{
    height: 80px;
    width: 300px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    margin: 0;

}
ul{
    display: inline-block;
}
.supper{
    height: 120px;
    width: 500px;
    color: white;
    font-size: x-large;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    padding-top: 120px;
}
#st{
    background-color: rgb(202, 194, 194);
}

.food-description{
    margin-bottom: 100px;
}

.h-hours{
    width: 300px;
    height:120px;
    margin-top: 0;
    margin-bottom: 0;
}
.s-hours{
    display: flex;
    flex-direction: column;
}
#rj{
    background-color: #F15A29;
}
#br{
    background-image: url("./Images/breakfast.jpg");
    background-size: contain;
    justify-content: center;
    font-style: italic;
}
#lu{
    background-image: url("./Images/lunch.jpg");
    justify-content: center;
    background-size: contain;
    opacity: 0.3;
    font-style: italic;

}
#di{
    background-image: url("./Images/dinner.jpg");
    background-size: contain;
    justify-content: center;
    font-style: italic;
}
#one{
    float: left;
    height: 150px;
    width: 300px;
    margin: 0 10px 0 0;
}
.content>p{
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content>img{
    display: column;
}
    
.content{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
    justify-content: center;
}
.drinks{
      display: flex;
      flex-direction: row;
  }

.drink-text{
      float: left;
  }
  #drink{
      display: flex;
  }

.foods{
      display: flex;
      flex-direction: column;
      margin-left: -4px;
      
  }

.food-text{
      float: right;
  }
  /* display{
      
      height: 450px;
      font-size: 1em;
      padding-top: 80px;
      padding-bottom: 180px;
      margin-top: 100px;
  } */
   .just{
      display: flex;
      flex-direction: row;
      margin-left: 250px;
      margin-bottom: 100px;
  }
  .just button{
      height: 60px;
      margin-top: 70px;
  }
  .dr{
      background-image: url("Images/foodsBg.jpg");
      /* margin-left: 120px; */
      /* margin-bottom: 300px; */
      background-color: white;
      margin-top:0;
  }
  .b1{
      margin-right: 10px;
  }
  .b2{
      margin-left: 10px;
  }
  .b1::before{
      content: '<';
  }
  .b2::before{
      content: '>';
  }
  .lu li>a{
      text-decoration: none;
      color: grey;
      padding: 10px;
      
  }
  .lu li{
      border: 1px solid black;
      padding: 5px;
      height: 30px;
      display: flex;
      flex-direction: row;
      
  }